<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js via Laracasts</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>



  <main class="primary__container">

    <h1 class="primary__heading">Vue.js по скринкасту Laracasts</h1>

    <hr class="demo__hr">
    <!-- –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––—— -->
    <!-- –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––—— -->
    <!-- –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––—— -->

    <div id="root-1" class="demo">
      <h4 class="demo__heading">Step 01 — Basic Data Binding</h4>
      <input type="text" id="input" v-model="message" class="demo__input">

      <div class="demo__invisible-separator"></div>

      <p class="demo__paragraph">The value of the input is: <span class="demo__data">{{ message }}</span></p>
    </div>

    <hr class="demo__hr">
    <!-- –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––—— -->
    <!-- –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––—— -->
    <!-- –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––—— -->

    <div class="demo">
      <h4 class="demo__heading">02 — Setup Vue Devtools</h4>
      <p class="demo__paragraph">Done ✓</p>
    </div>

    <hr class="demo__hr">
    <!-- –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––—— -->
    <!-- –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––—— -->
    <!-- –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––—— -->

    <div id="root-3" class="demo">
      <h4 class="demo__heading">Step 03 — Lists</h4>
      <ul>
        <li v-for="name in names" v-text="name"></li>
      </ul>

      <div class="demo__invisible-separator"></div>

      <input type="text" class="demo__input" id="root-3-input">
      <button class="demo__btn" id="root-3-btn">Add new name in List</button>

      <div class="demo__invisible-separator"></div>
      <span class="demo__small-text">(JS native event listener)</span>
    </div>

    <hr class="demo__hr">
    <!-- –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––—— -->
    <!-- –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––—— -->
    <!-- –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––—— -->

    <div id="root-4" class="demo">
      <h4 class="demo__heading">Step 04 — Vue Event Listeners</h4>
      <ul>
        <li v-for="name in names" v-text="name"></li>
      </ul>

      <div class="demo__invisible-separator"></div>

      <input type="text" class="demo__input" v-model="newName">
      <button class="demo__btn" @click="addName">Add new name in List</button>

      <div class="demo__invisible-separator"></div>
      <span class="demo__small-text">(Vue event listener)</span>
    </div>

    <hr class="demo__hr">
    <!-- –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––—— -->
    <!-- –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––—— -->
    <!-- –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––—— -->

    <div id="root-5" class="demo">
      <h4 class="demo__heading">Step 05 — Attribute and Class Binding</h4>

      <button class="demo__btn" :title="title">Hover over Me and U will see the Title</button>

      <div class="demo__invisible-separator"></div>

      <button class="demo__btn" :class="{ 'is-loading' : isLoading }" @click="toggleClass">Click on Me and I will be 'loaded' (just get a class)</button>
    </div>

    <hr class="demo__hr">
    <!-- –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––—— -->
    <!-- –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––—— -->
    <!-- –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––—— -->

    <div class="demo">
      <h4 class="demo__heading">Step 06 — The Need for Computed Properties</h4>

      <div id="root-6-1" class="demo">
        <p class="demo__paragraph">
          <span class="demo__data">{{ reversedMessage }}</span>
        </p>
      </div>

      <hr class="demo__small-hr">

      <div id="root-6-2" class="demo">
        <h6 class="demo__subheading">All Tasks</h6>
        <ul>
          <li v-for="task in tasks" v-text="task.description"></li>
        </ul>

        <h6 class="demo__subheading">Incomplete Tasks</h6>
        <ul>
          <li v-for="task in incompleteTasks" v-text="task.description"></li>
        </ul>
      </div>
    </div>

    <hr class="demo__hr">
    <!-- –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––—— -->
    <!-- –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––—— -->
    <!-- –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––—— -->

  </main>


  <script src="https://unpkg.com/vue@2.5.6/dist/vue.js"></script>
  <script src="main.js"></script>

</body>
</html>
